* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #88cff8;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-top: 10px;
}

.news {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.news-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 45%;
    transition: transform 0.3s;
}

.news-item:hover {
    transform: scale(1.05);
}

.news-item img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

h2 {
    color: #242233;
    font-size: 1.8em;
}

p {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.read-more {
    display: inline-block;
    background-color: #1e7691;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.read-more:hover {
    background-color: #a9e2f8;
}

footer {
    background-color: #0f9cfa;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
